<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Uploads</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>Upload Audiobooks</h1>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" accept=".mp3" class="custom-file-input" id="inputGroupFile02">
                        <label class="custom-file-label" for="inputGroupFile02">Choose a mp3 file</label>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text">Upload</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</th:block>
</body>
</html>