<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Uploads</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>Upload Audiobooks</h1>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="bs-component">
                <div class="alert alert-dismissible alert-warning">
                    <h4 class="alert-heading">Note</h4>
                    <p class="mb-0">Only Audiobooks that are in one part are currently supported. Correct playback is
                        only supported with CBR (Continuous bit rate) encoded mp3 files.</p>
                    <p>You can convert mp3 files to CBR by using ffmpeg with the command <b><i>ffmpeg -i input.mp3
                        -codec:a
                        -b:a 96k output.mp3</i></b> for further reference visit the <a
                            href="https://trac.ffmpeg.org/wiki/Encode/MP3">ffmpeg documentation</a>.</p>
                </div>
            </div>
            <div class="form-group" id="uploadInput">
                <form th:action="@{/api/v1/audiobooks}" method="post" enctype="multipart/form-data"
                      class="input-group mb-3" id="uploadForm">
                    <div class="custom-file">
                        <input name="data" type="file" accept=".mp3" class="custom-file-input" id="inputGroupFile">
                        <label class="custom-file-label" for="inputGroupFile">Choose a mp3 file</label>
                    </div>
                    <div class="input-group-append">
                        <input type="button" value="Upload" class="input-group-text" id="uploadBtn"/>
                    </div>
                </form>
            </div>
            <div class="form-group">
                <div class="bs-component">
                    <div class="progress">
                        <div id="uploadprogress" class="progress-bar progress-bar-striped progress-bar-animated"
                             role="progressbar" style="width: 0%;" aria-valuenow="25"
                             aria-valuemin="0" aria-valuemax="100"> progress
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        //EXTERNAL
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            let fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });


        $(document).ready(function () {

            $("#uploadBtn").click(function (event) {
                if ($('#inputGroupFile').val().length !== 0) {


                    let data = new FormData($('#uploadForm')[0]);
                    // disabled the submit button
                    $("#uploadInput").prop("hidden", true);

                    //partly EXTERNAL (progressbar stuff)
                    $.ajax({
                        type: "POST",
                        enctype: 'multipart/form-data',
                        url: "/api/v1/audiobooks",
                        data: data,
                        processData: false,
                        contentType: false,
                        cache: false,
                        timeout: 0,
                        xhr: function () {
                            let xhr = $.ajaxSettings.xhr();
                            if (xhr.upload) {
                                xhr.upload.addEventListener('progress', function (event) {
                                    let percent = 0;
                                    if (event.lengthComputable) {
                                        percent = Math.ceil((event.loaded || event.position) / event.total * 100);
                                    }
                                    $("#uploadprogress").css("width", +percent + "%");
                                    if (percent === 100) {
                                        $("#uploadprogress").text("Processing please wait...");
                                    } else {
                                        $("#uploadprogress").text(percent + "%");
                                    }
                                }, true);
                            }
                            return xhr;
                        },
                        success: function (data) {
                            $("#uploadprogress").text("Finished");
                            window.location.href = '/book/' + data.id;
                        },
                    });
                }
            });
        });

    </script>
</th:block>
</body>
</html>