<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>Users</h1>
                <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
                        data-target="#createUserModal">
                    Create new User
                </button>
            </div>
        </div>
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col">Role</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user: ${users}" class="table-active">
                    <td th:text="${user.getUsername()}">ADMIN</td>
                    <td>*****</td>
                    <td th:text="${user.getRole().name()}">ADMIN</td>
                    <td>
                        <div class="btn-group" role="group" th:if="${user.getRole().name() =='USER'}">
                            <button type="button" class="btn btn-primary" th:onclick="'editUser('+${user.getId()}+')'"
                                    data-toggle="modal"
                                    data-target="#editUserModal">
                                Edit
                            </button>
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                    data-target="#deleteUserModal"
                                    th:onclick="'setUserId('+${user.getId()}+')'">Delete
                            </button>
                        </div>
                        <div class="btn-group" role="group" th:if="${user.getRole().name() =='ADMIN'}">
                            <button type="button" class="btn btn-primary disabled">Edit</button>
                            <button type="button" class="btn btn-danger disabled">Delete</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal Create User-->
    <div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/admin/users}" method="post" id="createUserForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-form-label" for="newusernameinput">Username</label>
                            <input type="text" class="form-control" placeholder="username" id="newusernameinput"
                                   name="username" minlength="4" required/>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="newuserpasswordinput">Username</label>
                            <input type="password" class="form-control" placeholder="*****" id="newuserpasswordinput"
                                   name="password" minlength="4" required/>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="submitNewUser" type="button" class="btn btn-primary">Create User</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal Delete User-->
    <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" id="deleteform">
                    <div class="modal-body">
                        Do you really want to delete this user?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" id="deleteUserSubmit">Delete User</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Modal Edit User-->
    <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/admin/users}" method="post" id="editUserForm">
                        <div class="modal-body">
                            <dl class="row">
                                <dt class="col-sm-3">Username:</dt>
                                <dd class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="username"
                                           id="editusernameinput" name="username" minlength="4" disabled/>
                                </dd>
                                <dt class="col-sm-3">Password:</dt>
                                <dd class="col-sm-9">
                                    <input type="password" class="form-control" placeholder="*****"
                                           id="edituserpasswordinput" name="password" minlength="4"/>
                                </dd>
                                <dt class="col-sm-3">Password:</dt>
                                <dd class="col-sm-9">
                                    <input type="text" id="tagsInput">
                                </dd>
                            </dl>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id="submitEditUser" type="button" class="btn btn-primary">Update User</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <script>
        let userId;
        let currentUser;

        function setUserId(id) {
            userId = id;
        }

        function editUser(id) {
            $.getJSON("/api/v1/user/" + id + "/", function (data) {
                updateEditUserView(data);
            });
        }

        function updateEditUserView(data) {
            currentUser = data;
            $('#editusernameinput').val(currentUser.username);
            $('#tagsInput').tagsinput('removeAll');
            currentUser.tags.forEach(function (tag) {
                $('#tagsInput').tagsinput('add', tag);
            })
        }

        $('#submitEditUser').click(function () {
            currentUser.tags = $('#tagsInput').tagsinput('items');
            if ($('#edituserpasswordinput').val().length > 0) {
                currentUser.password = $('#edituserpasswordinput').val();
            }
            $('#submitEditUser').attr('disabled')
            $.ajax({
                type: "PUT",
                url: "/api/v1/user",
                data: JSON.stringify(currentUser),
                contentType: 'application/json',
                processData: false,
                success: function () {
                    location.reload();
                }
            })
        })


        $('#submitNewUser').click(function () {
            let data = new FormData($('#createUserForm')[0]);
            let submitData = new Object();

            submitData.username = data.get('username');
            submitData.password = data.get('password');
            $('#submitNewUser').attr('disabled');
            $.ajax({
                type: "POST",
                url: "/api/v1/user",
                data: JSON.stringify(submitData),
                contentType: 'application/json',
                processData: false,
                success: function () {
                    location.reload();
                }
            })

        })


        $('#deleteUserSubmit').click(function () {
            $.ajax({
                type: "DELETE",
                url: "/api/v1/user/" + userId + "/",
                success: function () {
                    location.reload();
                }
            })

        })

        // EXTERNAL adapted an example https://bootstrap-tagsinput.github.io/bootstrap-tagsinput/examples/
        let tags = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: {
                url: '/api/v1/tags',
                cache: false
            }
        });
        tags.initialize();

        let elt = $('#tagsInput');
        elt.tagsinput({
            itemValue: 'id',
            itemText: 'name',
            typeaheadjs: {
                name: 'tags',
                displayKey: 'name',
                source: tags.ttAdapter()
            }
        });

    </script>
</th:block>
</body>
</html>
