<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/bootstrap-tagsinput.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/bootstrap-tagsinput.js"></script>
    <script src="../js/typeahead.js"></script>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
</head>
<body>
<div th:replace="fragments/navigation :: navigation"/>

<div class="container">
        <div layout:fragment="content">
    </div>
</div>

</body>
</html>