<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>Authors</h1>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-lg-3" th:each="author: ${authors}">
            <div class="bs-component">
<!--                TODO-->
<!--                <div class="card mb-3 border-primary"> BORDEER-->
                <div class="card mb-3">
                    <img src="/authplaceholder.svg" alt="Author Img" style="max-width: 100%; height: auto">
                    <h4 class="card-header" th:text="${author.getName()}">Author Name</h4>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>