<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.getTitle()}">Title</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="row">
        <!--        full width if not ADMIn-->
        <div class="col-lg-11" th:class="${#authorization.expression('hasRole(''ADMIN'')')}? 'col-lg-11':'col-lg-12'">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a th:href="'/authors/'+${book.getAuthor().getId()}"
                                               th:text="${book.getAuthor().getName()}"></a></li>
                <li class="breadcrumb-item active" th:text="${book.getTitle()}">Title</li>
            </ol>
        </div>
        <div class="col-lg-1" sec:authorize="hasRole('ADMIN')">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editBook">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                    </svg>
                </button>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle btn-lg"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item bg-primary" href="#" data-toggle="modal"
                           data-target="#editBook">Edit</a>
                        <a class="dropdown-item bg-danger" href="#" data-toggle="modal"
                           data-target="#deleteBook">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="bs-component">
                <div class="card mb-4">
                    <img th:src="'/api/v1/audiobook/'+${book.getId()}+'/cover'"
                         onerror="this.src='/bookcoverplaceholder.svg'" style="width: 100%"/>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="bs-component">
                <h2 th:text="${book.getTitle()}">Book Title</h2>
                <h4>Author: <a th:href="'/authors/'+${book.getAuthor().getId()}"
                               th:text="${book.getAuthor().getName()}"></a></h4>
                <th:block th:if="${book.getSeries()!= null}">
                   <h4>Series: <a th:href="'/series/' + ${book.getSeries().getId()}" th:text="${book.getSeries().getName()}"></a>, <span th:text="'Book ' +${book.getBookNumber()}"></span></h4>
                </th:block>
                <h4>Tags:</h4>
                <div class="bs-component mb-4">
                    <th:block th:each="tag: ${book.getTags()}">
                    <span th:class="${tag.isRemovable()? 'badge badge-primary':'badge badge-info'}"
                          th:text="${tag.getName()}">Primary</span>
                    </th:block>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <audio id="audiobook">
            <source th:src="'/api/v1/audiobook/'+${book.getId()}+'/stream'">
        </audio>
    </div>

    <!--    AudioPlayer-->
    <div class="alert alert-secondary ">
        <div class="row">
            <div class="col-lg-2" id="currentPlaytime">00:00</div>
            <div class="col-lg-8"></div>
            <div class="col-lg-2" style="text-align: right" id="totalPlaytime">00:00</div>
        </div>
        <fieldset class="form-group">
            <input type="range" class="custom-range" id="playbackSlider" min="0" value="0" step="1">
        </fieldset>

        <div class="row">
            <div class="col-lg-3">
                <div class="center">
                    <div style="width: 100%">
                        <h5>Playbackspeed: <label id="speedDisplay">1</label></h5>
                        <input type="range" class="custom-range" id="playbspeed" min="0.5" max="3.5" value="1.0"
                               step="0.1">
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <a href="javascript:jumpBackward();" class="center">
                    <img src="/controls/rewind.svg">
                </a>
            </div>
            <div class="col-lg-2">
                <a href="javascript:pausePlay();" class="center">
                    <img id="play" src="/controls/play.svg">
                    <img hidden id="pause" src="/controls/pause.svg">
                </a>
            </div>
            <div class="col-lg-2">
                <a href="javascript:jumpForward();" class="center">
                    <img src="/controls/forward.svg">
                </a>
            </div>
            <div class="col-lg-3">
                <div class="center">
                    <img src="/controls/volume-off.svg">
                    <input style="width: 100%" type="range" class="custom-range" min="0" max="100"
                           value="100" step="1" id="volumeSlider"/>
                    <img src="/controls/volume-up.svg">
                </div>
            </div>
        </div>
    </div>
    <div sec:authorize="hasRole('ADMIN')" class="modal fade" id="deleteBook" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post">
                    <div class="modal-body">
                        Do you REALLY want to delete <b th:text="${book.getTitle()}"></b>?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger">Delete User</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div sec:authorize="hasRole('ADMIN')" id="editBook" class="modal fade" tabindex="-1" style="display: none;"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/}" id="editForm">
                        <dl class="row">
                            <dt class="col-sm-3">Title:</dt>
                            <dd class="col-sm-9"><input type="text" name="title" id="booktitle" minlength="1" required
                                                        th:value="${book.getTitle()}" class="form-control"></dd>


                            <!--                            Author-->
                            <dl class="col-sm-3">Author:</dl>
                            <dd class="col-sm-9">
                                <input name="author" type="text" list="authorList" class="form-control"
                                       th:value="${book.getAuthor().getName()}"/>
                                <datalist id="authorList">
                                    <th:block th:each="author: ${authors}">
                                        <option th:text="${author.getName()}"></option>
                                    </th:block>
                                </datalist>
                            </dd>
                            <!--Series -->
                            <dl class="col-sm-3">Series:</dl>
                            <dd class="col-sm-9">
                                <input id="seriesInput" name="series" type="text" list="seriesList" class="form-control"
                                       th:value="${book.getSeries() == null}? '': ${book.getSeries().getName()}"
                                       placeholder="None"/>
                                <datalist id="seriesList">
                                    <th:block th:each="series: ${seriesList}">
                                        <option th:text="${series.getName()}"></option>
                                    </th:block>
                                </datalist>
                            </dd>

                            <dl class="col-sm-3 booknumberinp">Number in Series:</dl>
                            <dd class="col-sm-9 booknumberinp">
                                <input name="bookNumber" type="number" class="form-control" min="0"
                                       th:value="${book.getSeries() == null}? '' :${book.getBookNumber()}"/>
                            </dd>

                            <!--                        Non deletable tags-->
                            <dt class="col-sm-3">Tags:</dt>
                            <dd class="col-sm-9">
                                <div class="bs-component">
                                    <th:block th:each="tag: ${book.getTags()}">
                                        <span th:class="${tag.isRemovable()? 'badge badge-primary':'badge badge-info'}"
                                              th:text="${tag.getName()}"></span>
                                    </th:block>
                                </div>
                            </dd>
                            <!--                        Additional Tags-->
                            <dt class="col-sm-3">Additional Tags:</dt>
                            <dd class="col-sm-9">
                                <select id="taginput" multiple data-role="tagsinput">
                                    <th:block th:each="tag: ${book.getTags()}">
                                        <option th:if="${tag.isRemovable()}" th:text="${tag.getName()}"
                                                th:value="${tag.getName()}">Tag
                                        </option>
                                    </th:block>
                                </select>
                            </dd>
                        </dl>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id="submitEdit" type="button" class="btn btn btn-info">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        $(document).ready(function () {
            if (!$('#seriesInput').val()) {
                $('.booknumberinp').attr("hidden", true);
            }
        });
        $('#seriesInput').on('input', function (event) {
            console.log("asd")
            if ($(this).val()) {
                $('.booknumberinp').attr("hidden", false);
                console.log("abc")
            } else {
                $('.booknumberinp').attr("hidden", true);
            }
        })

        let bookID = /*<![CDATA[*/ [[${book.getId()}]]; /*]]>*/

        //Delte Book
        $('#deleteBook').click(function (event) {
            $.ajax({
                type: "DELETE",
                url: "/api/v1/audiobook/" + bookID + "/",
                timeout: 10000,
                success: function () {
                    window.location.href = '/'
                }
            })
        });


        //submit edited book data
        $('#submitEdit').click(function (event) {
            let data = new FormData($('#editForm')[0]);

            let arr = $("#taginput").tagsinput('items');
            let tags = JSON.parse('[' + Array.from(arr, val => '{"name":"' + val + '"}').toString() + ']');

            let book = new Object();
            let author = new Object();
            let series = new Object();
            series.name = data.get("series")
            author.name = data.get("author");
            book.id = bookID;
            book.title = data.get("title");
            book.author = author;
            book.series = series;
            book.bookNumber = data.get("bookNumber");
            book.tags = tags;

            $.ajax({
                type: "PUT",
                url: "/api/v1/audiobook/" + bookID + "/",
                data: JSON.stringify(book),
                contentType: 'application/json',
                processData: false,
                timeout: 10000,
                success: function () {
                    location.reload();
                }
            })

        });

        // Taginput EXTERNAL adapted an example https://bootstrap-tagsinput.github.io/bootstrap-tagsinput/examples/
        let typaheadTags = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: {
                url: '/api/v1/tags',
                //not external
                filter: function (tags) {
                    return tags.filter((s) => s.removable).map((r) => ({name: r.name}));
                },
                cache: false
            }
        });
        typaheadTags.initialize();
        $('#taginput').tagsinput({
            typeaheadjs: {
                name: 'tags',
                displayKey: 'name',
                valueKey: 'name',
                source: typaheadTags.ttAdapter()
            }
        });


        //Audioplayer
        let audio = $('#audiobook')[0];
        let playbackspeed = $('#playbspeed')[0];
        let volumeSlider = $('#volumeSlider')[0];
        var interval;
        let resumePlay = function (e) {
            e.target.removeEventListener("canplay", resumePlay, false);
            audio.currentTime = /*<![CDATA[*/ [[${progress !=null}? ${progress.getProgress()} : '0']]; /*]]>*/
            $('#playbackSlider').attr("max", Math.ceil(audio.duration));
            $('#playbackSlider').val(audio.currentTime);
        }

        audio.addEventListener("canplay", resumePlay)

        //change playback speed
        playbackspeed.oninput = function () {
            audio.playbackRate = playbackspeed.value;
            $('#speedDisplay').html(playbackspeed.value);
        }

        //change playback volume
        volumeSlider.oninput = function () {
            audio.volume = volumeSlider.value / 100;
        }
        //update playback slider
        $('#playbackSlider')[0].oninput = function () {
            audio.currentTime = $('#playbackSlider')[0].value;
        }


        function pausePlay() {
            if (isPlaying(audio)) {
                audio.pause();
                clearInterval(interval);
                updateCurrentTime();
                $('#pause').attr('hidden', true);
                $('#play').attr('hidden', false);
            } else {
                audio.play();
                $('#pause').attr('hidden', false);
                $('#play').attr('hidden', true);
                interval = setInterval(updateCurrentTime, 10000)
            }
        }

        function isPlaying(aud) {
            return !aud.paused;
        }

        function jumpForward() {
            let forwardTime = audio.currentTime + 30;
            if (forwardTime < Math.ceil(audio.duration)) {
                audio.currentTime = forwardTime;
            } else {
                audio.currentTime = Math.ceil(audio.duration) - 1;
            }
        }

        function jumpBackward() {
            let backwardTime = audio.currentTime - 30;
            if (backwardTime > 0) {
                audio.currentTime = backwardTime;
            } else {
                audio.currentTime = 0;
            }
        }

        //updateSlider
        function updateSlider() {
            $('#currentPlaytime').text(getTimeHHMMSS(Math.ceil(audio.currentTime)))
            $('#totalPlaytime').text(getTimeHHMMSS(Math.ceil(audio.duration)))
            $('#playbackSlider').val(audio.currentTime);
        }

        //update progress
        function updateCurrentTime() {
            let progress = audio.currentTime;
            $.ajax({
                type: "POST",
                url: "/api/v1/progress/" + bookID + "/",
                data: progress,
                contentType: 'text/plain',
                processData: false,
                timeout: 10000
            })
        }


        function getTimeHHMMSS(seconds) {
            let s = seconds % 60;
            let m = ((seconds - s) / 60) % 60;
            let h = (seconds - s - m * 60) / 3600;
            if (h === 0) {
                return format(m) + ":" + format(s);
            }

            return format(h) + ":" + format(m) + ":" + format(s);
        }

        function format(i) {
            if (i < 10) {
                return '0' + i;
            } else {
                return i;
            }
        }

        audio.addEventListener("timeupdate", updateSlider)
    </script>
</th:block>
</body>
</html>