<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.getTitle()}">Title</title>
</head>
<body>
<th:block layout:fragment="content">

    <!--    <div class="row mb-4">-->
    <div class="col-lg-6">
        <a style="color: inherit">
            <div class="bs-component">
                <div class="card mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%"
                         aria-label="Placeholder: Image cap" focusable="false" role="img"
                         preserveAspectRatio="xMidYMid slice" viewBox="0 0 200 200"
                         style="font-size:1.125rem;text-anchor:middle">
                        <rect width="100%" height="100%" fill="#868e96"></rect>
                        <text x="50%" y="50%" fill="#dee2e6" dy=".3em" th:text="${book.getTitle()}">Image cap</text>
                    </svg>
                    <h4 class="card-header">Author Name</h4>
                </div>
            </div>
        </a>
    </div>
    <!--    </div>-->


    <div class="col-lg-12">
        <audio id="audiobook" controls="" style="width: 100%">
            <source th:src="'/api/v1/audiobook/'+${book.getId()}+'/stream'">
        </audio>
    </div>

    <button onclick="jumpBackward();">Backward</button>
    <button onclick="pausePlay();">Pause/Play</button>
    <button onclick="jumpForward();">Forward</button>

    <button onclick="jumpTo(90540);">jumpto</button>
    <script>
        function pausePlay() {
            var audio = $('#audiobook')[0];
            if (isplaying(audio)) {
                audio.pause();
            } else {
                audio.play();
            }
        }

        function isplaying(aud) {
            return !aud.paused;
        }

        function jumpTo(newTime) {
            var audio = $('#audiobook')[0];
            audio.currentTime =newTime;
        }

        function jumpForward() {
            var audio = $('#audiobook')[0];
            var forwardTime = audio.currentTime + 30;
            if (forwardTime < Math.ceil(audio.duration)) {
                audio.currentTime = forwardTime;
            } else {
                audio.currentTime = Math.ceil(audio.duration) - 1;
            }
        }

        function jumpBackward() {
            var audio = $('#audiobook')[0];
            var backwardTime = audio.currentTime - 30;
            if (backwardTime > 0) {
                audio.currentTime = backwardTime;
            } else {
                audio.currentTime = 0;
            }
        }

        function updateCurrentTime() {
            $.ajax({
                type: "POST"
            })
        }


        $(function () {
            setInterval(updateCurrentTime, 15000);
        });
    </script>
</th:block>
</body>
</html>