<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.getTitle()}">Title</title>
</head>
<body>
<th:block layout:fragment="content">

    <!--    <div class="row mb-4">-->
    <div class="col-lg-6">
        <a style="color: inherit">
            <div class="bs-component">
                <div class="card mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%"
                         aria-label="Placeholder: Image cap" focusable="false" role="img"
                         preserveAspectRatio="xMidYMid slice" viewBox="0 0 200 200"
                         style="font-size:1.125rem;text-anchor:middle">
                        <rect width="100%" height="100%" fill="#868e96"></rect>
                        <text x="50%" y="50%" fill="#dee2e6" dy=".3em" th:text="${book.getTitle()}">Image cap</text>
                    </svg>
                    <h4 class="card-header">Author Name</h4>
                </div>
            </div>
        </a>
    </div>
    <!--    </div>-->
    <fieldset class="form-group">
        <input type="range" class="custom-range" id="playbackslider" min="0"value="0" step="1">
    </fieldset>

    <div class="col-lg-12">
        <audio id="audiobook" controls="" style="width: 100%">
            <source th:src="'/api/v1/audiobook/'+${book.getId()}+'/stream'">
        </audio>
    </div>

    <button class="btn" onclick="jumpBackward();">
        -30 <img src="/controls/rewind.svg">
    </button>
    <button class="btn" onclick="pausePlay();">
        <img id="play" src="/controls/play.svg">
        <img hidden id="pause" src="/controls/pause.svg">

    </button>
    <button class="btn" onclick="jumpForward();">
        +30 <img src="/controls/forward.svg">
    </button>

    <fieldset class="form-group">
        <label for="playbspeed" id="speedDisplay">1</label>
        <input type="range" class="custom-range" id="playbspeed" min="0.5" max="3.5" value="1" step="0.1">
    </fieldset>


    <script th:inline="javascript">
        let audio = $('#audiobook')[0];
        let playbackspeed = $('#playbspeed')[0];
        /*<![CDATA[*/
        let resumePlay = function (e) {
            e.target.removeEventListener("canplay", resumePlay, false);
            audio.currentTime = [[${progress}]];
            $('#playbackslider').attr("max", Math.ceil(audio.duration));
        }
        audio.addEventListener("canplay", resumePlay)
        /*]]>*/
        playbackspeed.oninput = function () {
            audio.playbackRate = playbackspeed.value;
            $('#speedDisplay').html(playbackspeed.value);
        }

        function pausePlay() {
            if (isPlaying(audio)) {
                audio.pause();
                updateCurrentTime();
                $('#pause').attr('hidden', true);
                $('#play').attr('hidden', false);
            } else {
                audio.play();
                $('#pause').attr('hidden', false);
                $('#play').attr('hidden', true);
            }
        }

        function isPlaying(aud) {
            return !aud.paused;
        }

        function jumpForward() {
            let forwardTime = audio.currentTime + 30;
            if (forwardTime < Math.ceil(audio.duration)) {
                audio.currentTime = forwardTime;
            } else {
                audio.currentTime = Math.ceil(audio.duration) - 1;
            }
        }

        function jumpBackward() {
            let backwardTime = audio.currentTime - 30;
            if (backwardTime > 0) {
                audio.currentTime = backwardTime;
            } else {
                audio.currentTime = 0;
            }
        }

        function updateSlider() {
            $('#playbackslider').val(audio.currentTime);
        }

        // audio.addEventListener("canplay", updateSlider)
        audio.addEventListener("timeupdate", updateSlider)


        function updateCurrentTime() {
            // $.ajax({
            //     type: "POST"
            // })
            console.log(audio.readyState);
        }


        $(function () {
            setInterval(updateCurrentTime, 1000);
        });
    </script>
</th:block>
</body>
</html>