<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Lydbook</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>Currently Playing</h1>
            </div>
        </div>
    </div>
    <th:block th:if="${last!=null}">
        <div class="row ">
            <div class="col-lg-3">

                <a th:href="'/book/'+${last.getBook().getId()}" style="color: inherit">
                    <div class="bs-component">
                        <div class="card mb-3">
                            <img th:src="'/api/v1/audiobooks/'+${last.getBook().getId()}+'/cover'" onerror="this.src='/bookcoverplaceholder.svg'" style="width: 100%"/>
                            <h4 class="card-header" th:text="${last.getBook().getTitle()}">Book Title</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <th:block th:if="${progresses !=null}">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1>Most recent plays</h1>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-2" th:each="progress: ${progresses}">

                    <a th:href="'/book/'+${progress.getBook().getId()}" style="color: inherit">
                        <div class="bs-component">
                            <div class="card mb-3">
                                <img th:src="'/api/v1/audiobooks/'+${progress.getBook().getId()}+'/cover'" onerror="this.src='/bookcoverplaceholder.svg'" style="width: 100%"/>
                                <h6 class="card-header" th:text="${progress.getBook().getTitle()}">Book Title</h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </th:block>
    </th:block>
</th:block>
</body>
</html>